<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}" >
<link rel="Shortcut Icon" th:src="@{/favicon.ico}" />

    <script type="text/javascript" th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<title>管理员列表</title>
</head>
<body>
<!--添加管理员模态框-->
<div class="modal fade" id="adminAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">管理员添加</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">管理员</label>
						<div class="col-sm-10">
							<input type="text" name="adminName" class="form-control" id="adminName_add_input"
								   placeholder="adminName">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" name="adminPassword" class="form-control" id="adminPassword_add_input">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">联系电话</label>
						<div class="col-sm-10">
							<input type="text" name="adminPhone" class="form-control" id="adminPhone_add_input">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">邮箱地址</label>
						<div class="col-sm-10">
							<input type="email" name="adminEmail" class="form-control" id="adminEmail_add_input"
								   placeholder="邮箱地址">
							<span class="help-block"></span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="admin_save_btn">保存</button>
			</div>
		</div>
	</div>
</div>

<!-- 管理员修改的模态框-->
<div class="modal fade" id="adminModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modifyModalLabel">管理员修改</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">管理员ID</label>
						<div class="col-sm-10">
							<input type="text" name="adminId" class="form-control" id="adminId_modify_input" readonly placeholder="adminId">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">管理员</label>
						<div class="col-sm-10">
							<input type="text" name="adminName" class="form-control" id="adminName_modify_input" placeholder="adminName">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" name="adminPassword" class="form-control" id="adminPassword_modify_input" placeholder="adminPassword">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">联系电话</label>
						<div class="col-sm-10">
							<input type="text" name="adminPhone" class="form-control" id="adminPhone_modify_input" placeholder="adminPhone">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">邮件地址</label>
						<div class="col-sm-10">
							<input type="email" name="adminEmail" class="form-control" id="adminEmail_modify_input" placeholder="adminEmail">
							<span class="help-block"></span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="admin_modify_btn">保存</button>
			</div>
		</div>
	</div>
</div>

<nav class="breadcrumb"> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表</nav>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-8">
			<button class="btn btn-primary" id="admin_add_modal_btn">新增</button>
			<button class="btn btn-danger" id="admin_delete_all_btn">批量删除</button>
		</div>
	</div>
	<table class="table table-border table-bordered table-bg" id="admin_table">
		<thead>
			<tr>
				<th scope="col" colspan="9">管理员列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="150">登录名</th>
				<th width="150">密码</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	<div class="row">
		<!--分页文字信息  -->
		<div class="col-md-6" id="page_info_area"></div>
		<!-- 分页条信息 -->
		<div class="col-md-6" id="page_nav_area">
		</div>
	</div>
</div>

<script type="text/javascript">
    function getRootPath() {
        var pathName = window.location.pathname.substring(1);
        var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
        return window.location.protocol + '//' + window.location.host + '/' + webName + '/';
    }

    Date.prototype.format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    };
	$(function () {
		to_page(1);
	});

	function to_page(pn) {
	    var str = getRootPath();
		$.ajax({
			url: str+"manageAdmin",
			data: "pn=" + pn,
			type: "GET",
			success: function (result) {
				console.log(result)
				//1、解析并显示员工数据
				build_admins_table(result);
				//2、解析并显示分页信息
				build_page_info(result);
				//3、解析显示分页条数据
				build_page_nav(result);
			}
		});
	}

	function build_admins_table(result) {
		//清空table表格
		$("#admin_table tbody").empty();
		var admins = result.extend.pageInfo.list;
		$.each(admins, function (index, admin) {
			var checkBoxTd = $("<td><input type='checkbox' name='ids' class='check_item'/></td>");
			var adminIdTd = $("<td></td>").append(admin.adminId);
			var adminNameTd = $("<td></td>").append(admin.adminName);
			var adminPasswordTd = $("<td></td>").append($("<input readonly style='border: none' type='password'>").val(admin.adminPassword));
			var adminPhoneTd = $("<td></td>").append(admin.adminPhone);
			var adminEmailTd = $("<td></td>").append(admin.adminEmail);

			var editBtn = $("<button></button>").addClass("btn btn-primary btn-sm edit_btn")
					.append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append("编辑");
			//为编辑按钮添加一个自定义的属性，来表示当前员工id
			editBtn.attr("edit-id", admin.adminId);
			var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm delete_btn")
					.append($("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
			//为删除按钮添加一个自定义的属性来表示当前删除的员工id
			delBtn.attr("del-id", admin.adminId);
			var btnTd = $("<td></td>").append(editBtn).append(" ").append(delBtn);

			//append方法执行完成以后还是返回原来的元素
			$("<tr></tr>").append(checkBoxTd)
					.append(adminIdTd)
					.append(adminNameTd)
					.append(adminPasswordTd)
					.append(adminPhoneTd)
					.append(adminEmailTd)
					.append(btnTd)
					.appendTo("#admin_table tbody");
		});
	}

	//解析显示分页信息
	function build_page_info(result) {
		$("#page_info_area").empty();
		$("#page_info_area").append("当前" + result.extend.pageInfo.pageNum + "页,总" +
				result.extend.pageInfo.pages + "页,总" +
				result.extend.pageInfo.total + "条记录");
		totalRecord = result.extend.pageInfo.total;//最后的数据
		currentpage = result.extend.pageInfo.pageNum;//当前页
	}

	//解析显示分页条，点击分页要能去下一页....
	function build_page_nav(result) {
		//page_nav_area
		$("#page_nav_area").empty();
		var ul = $("<ul></ul>").addClass("pagination");

		//构建元素
		var firstPageLi = $("<li></li>").append($("<a></a>").append("首页").attr("href", "#"));
		var prePageLi = $("<li></li>").append($("<a></a>").append("&laquo;"));
		if (result.extend.pageInfo.hasPreviousPage == false) {
			firstPageLi.addClass("disabled");
			prePageLi.addClass("disabled");
		} else {
			//为元素添加点击翻页的事件
			firstPageLi.click(function () {
				to_page(1);
			});
			prePageLi.click(function () {
				to_page(result.extend.pageInfo.pageNum - 1);
			});
		}

		var nextPageLi = $("<li></li>").append($("<a></a>").append("&raquo;"));
		var lastPageLi = $("<li></li>").append($("<a></a>").append("末页").attr("href", "#"));
		if (result.extend.pageInfo.hasNextPage == false) {
			nextPageLi.addClass("disabled");
			lastPageLi.addClass("disabled");
		} else {
			nextPageLi.click(function () {
				to_page(result.extend.pageInfo.pageNum + 1);
			});
			lastPageLi.click(function () {
				to_page(result.extend.pageInfo.pages);
			});
		}

		//添加首页和前一页 的提示
		ul.append(firstPageLi).append(prePageLi);
		//1,2，3遍历给ul中添加页码提示
		$.each(result.extend.pageInfo.navigatepageNums, function (index, item) {

			var numLi = $("<li></li>").append($("<a></a>").append(item));
			if (result.extend.pageInfo.pageNum == item) {
				numLi.addClass("active");
			}
			numLi.click(function () {
				to_page(item);
			});
			ul.append(numLi);
		});
		//添加下一页和末页 的提示
		ul.append(nextPageLi).append(lastPageLi);

		//把ul加入到nav
		var navEle = $("<nav></nav>").append(ul);
		navEle.appendTo("#page_nav_area");
	}

	//清空表单样式及内容
	function reset_form(ele) {
		$(ele)[0].reset();
		//清空表单样式
		$(ele).find("*").removeClass("has-error has-success");
		$(ele).find(".help-block").text("");
	}

	//点击新增按钮弹出模态框。
	$("#admin_add_modal_btn").click(function () {
		//清除表单数据（表单完整重置（表单的数据，表单的样式））
		reset_form("#adminAddModal form");
		//弹出模态框
		$("#adminAddModal").modal({
			backdrop: "static"
		});
	});
	//点击保存，保存员工。
	$("#admin_save_btn").click(function () {
	    var str =
		//2、发送ajax请求保存员工
		$.ajax({
			url: getRootPath()+"addAdmin",
			type: "POST",
			data: $("#adminAddModal form").serialize(),
			success: function (result) {
				console.log(result)
				if (result.code == 100) {
					//员工保存成功；
					//1、关闭模态框
					$("#adminAddModal").modal('hide');
					//2、显示刚才保存的数据
					to_page(1);
				} else {
					//显示失败信息
					console.log(result);
				}
			}
		});
	});
	//单个删除
	$(document).on("click", ".delete_btn", function () {
		//1、弹出是否确认删除对话框
		var empName = $(this).parents("tr").find("td:eq(2)").text();
		var adminId = $(this).attr("del-id");

		if (confirm("确认删除【" + empName + "】吗？")) {
			//确认，发送ajax请求删除即可
			$.ajax({
				url: getRootPath()+"deleteAdmin?id=" + adminId,
				type: "GET",
				success: function (result) {
					alert(result.msg);
					if (result.code == 100) {
						//2、显示刚才保存的数据
						to_page(1);
					} else {
						//显示失败信息
						console.log(result);
					}
				}
			});
		}
	});
	//多个删除
	//全选或者取消全选
	function DoCheck() {
		var ch = document.getElementsByName("ids");
		if (document.getElementById("check_all").checked == true) {
			for (var i = 0; i < ch.length; i++) {
				ch[i].checked = true;
			}
		} else {
			for (var i = 0; i < ch.length; i++) {
				ch[i].checked = false;
			}
		}
	}

	//点击批量删除按钮
	$(document).on('click', '#admin_delete_all_btn', function () {
		var checkID = [];//定义一个空数组
		$("input[name='ids']:checked").each(function (i) {//把所有被选中的复选框的值存入数组
			checkID[i] = $(this).parents("tr").find("td:eq(1)").text();
		});
		alert(JSON.stringify(checkID));
		if (checkID != null && checkID.length > 0) {
			$.ajax({
				type: 'POST',
				url: getRootPath()+'batchDeleteAdmin',
				data: JSON.stringify(checkID),
				dataType: 'json',
				contentType: 'application/json',
				success: function (result) {
					if (result.code == 100) {
						to_page(1);
					} else {
						//显示失败信息
						console.log(result);
					}
				}
			});
		}
	});
	//点击编辑按钮弹出模态框。
	$(document).on("click", ".edit_btn", function () {
		//1、发送ajax,根据id获取用户信息
		//清除表单数据（表单完整重置（表单的数据，表单的样式））
		reset_form("#adminModifyModal form");
		var Id = $(this).attr("edit-id");
		$.ajax({
			url: getRootPath()+"editAdmin?id=" + Id,
			type: "GET",
			success: function (result) {
				//填充用户信息
				console.log(result);

				$("#adminId_modify_input").val(result.extend.admin.adminId);
				$("#adminName_modify_input").val(result.extend.admin.adminName);
				$("#adminPassword_modify_input").val(result.extend.admin.adminPassword);
				$("#adminPhone_modify_input").val(result.extend.admin.adminPhone);
				$("#adminEmail_modify_input").val(result.extend.admin.adminEmail);
			}
		});
		//2、弹出模态框
		$("#adminModifyModal").modal({
			backdrop: "static"
		});
	});
	//点击保存，更新数据库
	$("#admin_modify_btn").click(function () {
		$.ajax({
			url: getRootPath()+"updateAdmin",
			type: "POST",
			data: $("#adminModifyModal form").serialize(),
			success: function (result) {
				//alert(result.msg);
				if (result.code == 100) {
					//员工保存成功；
					//1、关闭模态框
					$("#adminModifyModal").modal('hide');
					//2、显示刚才保存的数据
					to_page(1);
				} else {
					//显示失败信息
					console.log(result);
				}
			}
		});
	});
</script>
</body>
</html>