<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}" />

<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 资讯列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <!-- 按钮 -->
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button class="btn btn-primary" id="student_add_modal_btn">新增</button>
            <button class="btn btn-danger" id="student_delete_all_btn">批量删除</button>
        </div>
    </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" id="blog_table">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" id="check_all" ONCLICK="DoCheck();"></th>
					<th width="80">ID</th>
					<th>发帖人</th>
					<th width="80">分类</th>
					<th width="80">标题</th>
					<th width="120">正文</th>
					<th width="75">发布日期</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
    <!-- 显示分页信息 -->
    <div class="row">
        <!--分页文字信息  -->
        <div class="col-md-6" id="page_info_area"></div>
        <!-- 分页条信息 -->
        <div class="col-md-6" id="page_nav_area">
        </div>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/static/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/static/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript">
    $(function () {
        to_page(1);
    });
    function to_page(pn) {
        $.ajax({
            url:"",
            data:"pn="+pn,
            type:"GET",
            success:function (result) {
                console.log(result)
                build_blog_table(result);
                build_page_info(result);
                build_page_nav(result);
            }
        });
    }
    function build_blog_table(result) {
        $("#blog_table tbody").empty();
        var blogs = result.extend.pageInfo.list;
    }
    function build_page_info(result) {

    }
    function build_page_nav(result) {

    }
</script> 
</body>
</html>