/*

Template:  Jobhelp
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("header.css");
@import url("slider.css");
@import url("footer.css");