<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>博客详情</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">

    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- All css files are included here
    ============================================ -->
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

    <!-- This core.css file contents all plugins css file
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/core.css}">

    <!-- Theme shortcodes/elements style
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/shortcode/shortcodes.css}">

    <!-- Color Swithcer CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/plugins/color-switcher.css}">

    <!--  Theme main style
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/style.css}">

    <!-- Color CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/plugins/color.css}">

    <!-- Responsive CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/static/css/responsive.css}">

    <!-- Modernizr JS -->
    <script th:src="@{/static/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>
<body>

<!--Main Wrapper Start-->
<div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
        <!--Header Area Start-->
        <!--Header Area Start-->
        <header id="sticky-header" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="logo"><a th:href="@{/}"><img th:src="@{/static/images/logo/logo.png}" alt="JobHelp"></a>
                        </div>
                    </div>
                    <div class="col-md-9 hidden-sm hidden-xs">
                        <div class="pull-right">
                            <nav id="primary-menu">
                                <ul class="main-menu text-right">
                                    <li><a th:href="@{/}">主页</a></li>
                                    <li><a th:href="@{/alljobs}">工作栏</a></li>
                                    <li><a th:href="@{/register}">注册新账号</a></li>
                                    <li><a th:href="@{/blog}">博客</a></li>
                                    <li><a th:href="@{/contact}">联系我们</a></li>
                                    <li th:if="${session.user !=null}">
                                        <a th:href="@{/resume(userId=${session.user.userId})}" target="_blank">我的简历</a>
                                    </li>
                                    <!--/*@thymesVar id="user" type="com.entity.User"*/-->
                                    <div class="login-btn pt-36" th:if="${session.user} == null">
                                        <a class="modal-view button" data-toggle="modal"
                                           data-target="#productModal">登录</a>
                                    </div>
                                    <div class="login-btn pt-36" th:if="${session.user != null}">
                                        <a th:href="@{/infor}">欢迎：<span th:text="${session.user.userName}"></span></a>
                                        <a th:href="@{/logout}">退出</a>
                                    </div>
                                    </li>
                                    <li th:if="${msg != null}">
                                        <font color="red"><span th:text="${msg}"></span></font>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Header Area -->
        <!--Breadcrumb Banner Area Start-->
        <div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-text">
                            <h2 class="text-center text-white uppercase mb-17">博客详情</h2>
                            <div class="breadcrumb-bar">
                                <ul class="breadcrumb text-center m-0">
                                    <li class="text-white uppercase ml-15 mr-15"><a th:href="@{/}">主页</a></li>
                                    <li class="text-white uppercase ml-15 mr-15">博客详情</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Breadcrumb Banner Area-->
        <!--Start of Blog Area-->
        <div class="blog-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="single-blog hover-effect mb-50">
                            <div class="blog-image box-hover">
                                <a th:href="@{/blogdetails(blogId=${blog.blogId})}" class="block" th:switch="${blog.blogCategory}">
                                    <span th:case="热门帖子"><img th:src="@{/static/images/blog/3.jpg}" alt=""></span>
                                    <span th:case="技术"><img th:src="@{/static/images/blog/jishu.jpg}" alt=""></span>
                                    <span th:case="科学"><img th:src="@{/static/images/blog/kexue.jpg}" alt=""></span>
                                    <span th:case="简历"><img th:src="@{/static/images/blog/1.jpg}" alt=""></span>
                                    <span th:case="趣味"><img th:src="@{/static/images/blog/2.jpg}" alt=""></span>
                                </a>
                            </div>
                            <div class="blog-text">
                                <div class="blog-date pt-12">
                                    <span class="text-large block text-white"><span th:text="${#dates.format(blog.blogDate, 'dd')}"></span></span>
                                    <span class="uppercase block text-white"><span th:text="${#dates.format(blog.blogDate, 'MM')}+'月'"></span></span>
                                </div>
                                <div class="blog-post-info">
                                    <span class="pl-20 l-text"><i class="zmdi zmdi-account pr-8"></i><span th:text="${blog.blogUser}"></span></span>
                                    <span class="pl-50 l-text"><i class="zmdi zmdi-favorite pr-8"></i>like</span>
                                    <span class="pl-15 l-text"><i class="zmdi zmdi-comments pr-8"></i>comments</span>
                                </div>
                                <h5 class="pt-42 mb-14 l-text"><p class="p1" th:text="${blog.blogTitle}"></h5>
                                <p class="mb-25" th:text="${blog.blogContext}"></p>
                            </div>
                        </div>
                        <div class="tags-and-links fix pt-14 pb-12">
                            <div class="related-tag pull-left">
                                <span class="mr-10">Tag:</span>
                                <ul class="tags">
                                    <li><a href="#">job</a></li>
                                    <li><a href="#">new</a></li>
                                    <li><a href="#">job board</a></li>
                                    <li><a href="#">job help</a></li>
                                    <li><a href="#">job offer</a></li>
                                </ul>
                            </div>
                            <div class="social-links pull-right">
                                <span>Share:</span>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>


                        <div class="comments fix pt-55">
                            <h4 class="title pb-8 mb-27">评论</h4>

                            <div class="single-comment fix mb-30">
                                <div class="author-image">
                                    <img alt="" th:src="@{/static/images/comment/1.jpg}">
                                </div>
                                <div class="comment-text fix">
                                    <div class="author-info">
                                        <h4 class="mb-8"><a href="#">MD Abul Miya</a></h4>
                                        <span class="reply"><a href="#">Reply</a></span>
                                        <span class="comment-time">Posted on Jun 12, 2015 /</span>
                                    </div>
                                    <p class="mb-18">There are many variations of passages of Lorem Ipsum available, but
                                        the majority have suffered aation in some form, by injected humour,</p>
                                </div>
                            </div>
                            <div class="single-comment fix mb-30 ">
                                <div class="author-image">
                                    <img alt="" th:src="@{/static/images/comment/2.jpg}">
                                </div>
                                <div class="comment-text fix">
                                    <div class="author-info">
                                        <h4 class="mb-8"><a href="#">MD Gosebon</a></h4>
                                        <span class="reply"><a href="#">Reply</a></span>
                                        <span class="comment-time">Posted on Jun 12, 2015 /</span>
                                    </div>
                                    <p class="mb-18">There are many variations of passages of Lorem Ipsum available, but
                                        the majority have suffered aation in some form, by injected humour,</p>
                                </div>
                            </div>
                            <div class="single-comment fix mb-30">
                                <div class="author-image">
                                    <img alt="" th:src="@{/static/images/comment/3.jpg}">
                                </div>
                                <div class="comment-text fix">
                                    <div class="author-info">
                                        <h4 class="mb-8"><a href="#">MR Fazil lol</a></h4>
                                        <span class="reply"><a href="#">Reply</a></span>
                                        <span class="comment-time">Posted on Jun 12, 2015 /</span>
                                    </div>
                                    <p class="mb-18">There are many variations of passages of Lorem Ipsum available, but
                                        the majority have suffered aation in some form, by injected humour,</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="single-sidebar-widget mb-48">
                            <div class="sidebar-widget-title">
                                <h4 class="mb-23">Search</h4>
                            </div>
                            <div class="search-container">
                                <form th:action="@{/searchBlog}" method="post">
                                    <input type="text" name="blogLike" placeholder="搜索关键词"/>
                                </form>
                            </div>
                        </div>
                        <div class="single-sidebar-widget mb-48">
                            <div class="sidebar-widget-title">
                                <h4 class="mb-23">类别</h4>
                            </div>
                            <ul class="sidebar-widget-lists light-gray-bg pt-17 pb-15">
                                <li class="ptb-10"><a th:href="@{/blogCategory(blogCategory='热门帖子')}" class="ml-30">热门帖子</a></li>
                                <li class="ptb-10"><a th:href="@{/blogCategory(blogCategory='技术')}" class="ml-30">技术 </a></li>
                                <li class="ptb-10"><a th:href="@{/blogCategory(blogCategory='科学')}" class="ml-30">科学 </a></li>
                                <li class="ptb-10"><a th:href="@{/blogCategory(blogCategory='简历')}" class="ml-30">简历 </a></li>
                                <li class="ptb-10"><a th:href="@{/blogCategory(blogCategory='趣味')}" class="ml-30">趣味 </a></li>
                            </ul>
                        </div>
                        <div class="single-sidebar-widget mb-48">
                            <div class="sidebar-widget-title">
                                <h4 class="mb-23">最近帖子</h4>
                            </div>
                            <div class="recent-posts light-gray-bg" th:each="blog1:${session.blogs1}">
                                <div class="recent-post-item pl-30 ptb-20">
                                    <h5 class="mb-6"><a th:href="@{/blogdetails(blogId=${blog1.blogId})}"><span th:text="${blog1.blogTitle}"></span></a></h5>
                                    <span class="block"><i class="zmdi zmdi-calendar-check mr-10"></i><span th:text="${blog1.blogDate}"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Blog Area-->
        <!--Start of Social Link Area-->
        <div class="social-link-area ptb-40 dark-blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fix col-xs-12 col-sm-6">
                        <div class="footer-logo pull-left">
                            <a th:href="@{/}" class="block"><img th:src="@{/static/images/logo/footer-logo.png}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 fix col-xs-12 col-sm-6">
                        <div class="social-links pull-right">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-rss"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Social Link Area-->
        <!--Start of Footer Widget-area-->
        <div class="footer-widget-area black-bg pt-120 pb-110">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-22">关于</h3>
                            <p class="text-white pr-10">这是一个热衷于给没有工作的人提供帮助的网
                                站，在这里有许多合适的工作岗位等着他们。我们由衷的希望所有人能得到帮助。</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-26">保持联系</h3>
                            <span class="text-white mb-9"><i class="fa fa-phone"></i>+88 018 785 4589</span>
                            <span class="text-white mb-9"><i class="fa fa-envelope"></i>devitems@email.com</span>
                            <span class="text-white mb-9"><i class="fa fa-globe"></i>www.slane.me</span>
                            <span class="text-white mb-9"><i
                                    class="fa fa-map-marker"></i>南昌,世纪星城, 5楼</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-21">相关链接</h3>
                            <ul class="footer-list">
                                <li><a href="#">关于</a></li>
                                <li><a href="#">支持</a></li>
                                <li><a href="#">加盟</a></li>
                                <li><a href="#">条款 &amp; 条件</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-21">工作趋势</h3>
                            <ul class="footer-list">
                                <li><a href="#">设计师</a></li>
                                <li><a href="#">开发人员</a></li>
                                <li><a href="#">iOS 开发</a></li>
                                <li><a href="#">Android 开发</a></li>
                                <li><a href="#">测试人员</a></li>
                                <li><a href="#">运维</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Footer Widget-area-->
        <!-- Start of Footer area -->
        <footer class="footer-area blue-bg text-center ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-text">
                            <span class="text-white block">Copyright &copy; 2019.公司名称保留所有权利.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer area -->
    </div>
    <!--End of Bg White-->
</div>
<!--End of Main Wrapper Area-->
<!--Start of Login Form-->
<div id="quickview-login">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-pop-up-content ptb-60 pl-60 pr-60">
                        <div class="area-title text-center mb-43">
                            <h2 class="pt-7 pb-7 pl-40 pr-40">登录</h2>
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="form-box">
                                <input type="text" name="userName" placeholder="用户名" class="mb-14">
                                <input type="password" name="userPassword" placeholder="密码">
                            </div>
                            <div class="fix ptb-30">
                                <span class="remember pull-left"><input class="p-0 pull-left" type="checkbox">Remember Me</span>
                                <span class="pull-right"><a href="#">忘记密码?</a></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="text-uppercase">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Login Form-->
<!-- jquery latest version
========================================================= -->
<script th:src="@{/static/js/vendor/jquery-1.12.4.min.js}"></script>

<!-- Bootstrap framework js
========================================================= -->
<script th:src="@{/static/js/bootstrap.min.js}"></script>

<!-- Owl Carousel js
========================================================= -->
<script th:src="@{/static/js/owl.carousel.min.js}"></script>

<!-- nivo slider js
========================================================= -->
<script th:src="@{/static/lib/nivo-slider/js/jquery.nivo.slider.js}" type="text/javascript"></script>
<script th:src="@{/static/lib/nivo-slider/home.js}" type="text/javascript"></script>

<!-- Js plugins included in this file
========================================================= -->
<script th:src="@{/static/js/plugins.js}"></script>

<!-- StyleSwitch JS
========================================================= -->
<script th:src="@{/static/js/styleswitch.js}"></script>
<!-- Waypoint Js
========================================================= -->
<script th:src="@{/static/js/waypoints.min.js}"></script>

<!-- Main js file contents all jQuery plugins activation
========================================================= -->
<script th:src="@{/static/js/main.js}"></script>

</body>
</html>