<html  xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>联系我们</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- favicon
        ============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">
        
        <!-- Google Fonts
        ============================================ -->		
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
        
        <!-- All css files are included here
        ============================================ -->    
        <!-- Bootstrap CSS
        ============================================ -->		
        <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
        
        <!-- This core.css file contents all plugins css file
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/core.css}">
        
        <!-- Theme shortcodes/elements style
        ============================================ -->  
        <link rel="stylesheet" th:href="@{/static/css/shortcode/shortcodes.css}">
        
		<!-- Color Swithcer CSS
		============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/plugins/color-switcher.css}">
        
        <!--  Theme main style
        ============================================ -->  
        <link rel="stylesheet" th:href="@{/static/css/style.css}">
        
		<!-- Color CSS
		============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/plugins/color.css}">
        
        <!-- Responsive CSS
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/responsive.css}">
        
        <!-- Modernizr JS -->
        <script th:src="@{/static/js/vendor/modernizr-2.8.3.min.js}"></script>
    </head>
    <body>
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header id="sticky-header" class="header-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <div class="logo"><a href="index2.html"><img th:src="@{/static/images/logo/logo.png}" alt="JobHelp" ></a></div>
                            </div>
                            <div class="col-md-9 hidden-sm hidden-xs">
                                <div class="pull-right">
                                    <nav id="primary-menu">
                                        <ul class="main-menu text-right">
                                            <li><a href="index2.html">主页</a>
                                            </li>
                                            <li><a href="job-board.html" target="_blank">工作栏</a>
                                            </li>
                                            <li><a href="resume.html" target="_blank">简历</a></li>
                                            <li><a href="blog.html" target="_blank">博客</a>
                                                <ul class="dropdown">
                                                    <li><a href="blog-details.html" target="_blank">博客详情</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html" target="_blank">联系我们</a></li>
                                        </ul>
                                    </nav>
                                    <div class="login-btn pt-36">
                                        <a class="modal-view button" href="login.html" >登录</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu Area start -->
                    <div class="mobile-menu-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="mobile-menu">
                                        <nav id="dropdown">
                                            <ul>
                                                <li><a href="index2.html">主页</a>
                                                </li>
                                                <li><a href="job-board.html">工作栏</a>
                                                </li>
                                                <li><a href="resume.html" target="_blank">简历</a></li>
                                                <li><a href="blog.html">博客</a>
                                                    <ul class="dropdown">
                                                        <li><a href="blog-details.html" target="_blank">博客详情</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">联系我们</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu Area end -->  
                </header>
                <!-- End of Header Area -->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h2 class="text-center text-white uppercase mb-17">联系我们</h2>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center m-0">
                                            <li class="text-white uppercase ml-15 mr-15"><a href="index2.html">主页</a></li>
                                            <li class="text-white uppercase ml-15 mr-15">联系我们</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Start of Map and Contact Form Area-->
                <div class="map-conact-form-area fix">
                    <!--Start of Google Map-->
                    <div class="google-map-area">
                        <!--  Map Section -->
                        <div id="contacts" class="map-area">
                            <div id="googleMap" style="width:100%;height:485px;filter: grayscale(100%);-webkit-filter: grayscale(100%);"></div>
                        </div>
                    </div>
                    <!--End of Google Map-->
                    <!--Start of Contact Form And info-->
                    <div class="contact-form-and-info">
                        <div class="contact-form white-bg fix pr-125 pl-125 pt-40 pb-35">
                            <form id="contact-form" action="#" method="post">
                                <div class="col-5 pr-6 mb-15">
                                    <label for="name" class="block ml-20">姓名</label>
                                    <input type="text" name="name" id="name" class="pl-20" placeholder="请输入您的名字">
                                </div>
                                <div class="col-5 pl-6 mb-15">
                                    <label for="email" class="block ml-20">邮箱</label>
                                    <input type="email" name="email" id="email" class="pl-20" placeholder="输入您的邮箱">
                                </div>
                                <div class="col-10">
                                    <label for="message" class="block ml-20">信息</label>
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="输入您要反馈的信息" class="mb-10"></textarea>
                                </div>
                                <div class="col-10 fix">
                                    <button type="submit" class="button submit-btn">提交</button>
                                </div>
                                <p class="form-messege"></p>
                            </form>
                        </div>
                        <div class="contact-info text-center fix pt-120 pb-115">
                            <div class="single-contact-info">
                                <div class="single-contact-icon">
                                    <i class="zmdi zmdi-email"></i>
                                </div>
                                <div class="single-contact-text mt-18">
                                    <span class="block">471887811@qq.com</span>
                                    <span class="block">yetingboss@gmail.com</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="single-contact-icon">
                                    <i class="zmdi zmdi-phone"></i>
                                </div>
                                <div class="single-contact-text mt-18">
                                    <span class="block">+86 137 3222 9259</span>
                                    <span class="block">+86 187 5675 6963</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="single-contact-icon">
                                    <i class="zmdi zmdi-pin"></i>
                                </div>
                                <div class="single-contact-text mt-18">
                                    <span class="block">南昌市,双港西大街888,世纪星城,5楼</span>
                                    <span class="block">江西省，中国</span>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <!--End of Contact Form ANd info-->
                </div>
                <!--End of Map and Contact Form-->
                <!--Start of Social Link Area-->
                <div class="social-link-area ptb-40 dark-blue-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 fix col-xs-12 col-sm-6">
                                <div class="footer-logo pull-left">
                                    <a href="index2.html" class="block"><img th:src="@{/static/images/logo/footer-logo.png}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6 fix col-xs-12 col-sm-6">
                                <div class="social-links pull-right">
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-rss"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                    <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Social Link Area--> 
                <!--Start of Footer Widget-area-->
                <div class="footer-widget-area black-bg pt-120 pb-110">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-22">关于</h3>
                                    <p class="text-white pr-10">这是一个热衷于给没有工作的人提供帮助的网
                                        站，在这里有许多合适的工作岗位等着他们。我们由衷的希望所有人能得到帮助。</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-26">保持联系</h3>
                                    <span class="text-white mb-9"><i class="fa fa-phone"></i>+88 018 785 4589</span>
                                    <span class="text-white mb-9"><i class="fa fa-envelope"></i>devitems@email.com</span>
                                    <span class="text-white mb-9"><i class="fa fa-globe"></i>www.slane.me</span>
                                    <span class="text-white mb-9"><i
                                            class="fa fa-map-marker"></i>南昌,世纪星城, 5楼</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-21">相关链接</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">关于</a></li>
                                        <li><a href="#">支持</a></li>
                                        <li><a href="#">加盟</a></li>
                                        <li><a href="#">条款 &amp; 条件</a></li>
                                        <li><a href="#">联系我们</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-sm">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-21">工作趋势</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">设计师</a></li>
                                        <li><a href="#">开发人员</a></li>
                                        <li><a href="#">iOS 开发</a></li>
                                        <li><a href="#">Android 开发</a></li>
                                        <li><a href="#">测试人员</a></li>
                                        <li><a href="#">运维</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Footer Widget-area-->
                <!-- Start of Footer area -->
                <footer class="footer-area blue-bg text-center ptb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="footer-text">
                                    <span class="text-white block">Copyright &copy; 2019.公司名称保留所有权利.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer area -->
            </div>   
            <!--End of Bg White--> 
        </div>   
        <!--End of Main Wrapper Area-->

        <!--Start of Login Form-->
        <div id="quickview-login">
            <!-- Modal -->
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        </div>
                        <div class="modal-body">
							<div class="form-pop-up-content ptb-60 pl-60 pr-60">
								<div class="area-title text-center mb-43">
									<h2 class="pt-7 pb-7 pl-40 pr-40">Login</h2>
								</div>
								<form method="post" action="#">
									<div class="form-box">
										<input type="text" name="username" placeholder="User Name" class="mb-14">
										<input type="password" name="pass" placeholder="Password">
									</div>
									<div class="fix ptb-30">
										<span class="remember pull-left"><input class="p-0 pull-left" type="checkbox">Remember Me</span>
										<span class="pull-right"><a href="#">Forget Password?</a></span>
									</div>
									<div class="text-center">
										<button type="submit" class="text-uppercase">SignIn</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!--End of Login Form-->


        <!-- jquery latest version
		========================================================= -->	
        <script th:src="@{/static/js/vendor/jquery-1.12.4.min.js}"></script>
        
        <!-- Bootstrap framework js
		========================================================= -->			
        <script th:src="@{/static/js/bootstrap.min.js}"></script>
        
        <!-- Owl Carousel js
		========================================================= -->		
        <script th:src="@{/static/js/owl.carousel.min.js}"></script>
        
        <!-- nivo slider js
		========================================================= -->	    
		<script th:src="@{/static/lib/nivo-slider/js/jquery.nivo.slider.js}" type="text/javascript"></script>
		<script th:src="@{/static/lib/nivo-slider/home.js}" type="text/javascript"></script>
        
        <!-- Js plugins included in this file
		========================================================= -->	
        <script th:src="@{/static/js/plugins.js}"></script>
        
        <!-- Google Map js
		============================================ --> 		
        
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLSFRa0DyBj9VGzT7GM6SFbSMcG0YNBM "></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
			function initialize() {
			  var mapOptions = {
				zoom: 15,
				scrollwheel: false,
				center: new google.maps.LatLng(23.763494, 90.432226)
			  };

			  var map = new google.maps.Map(document.getElementById('googleMap'),
				  mapOptions);


			  var marker = new google.maps.Marker({
				position: map.getCenter(),
				animation:google.maps.Animation.BOUNCE,
				icon: 'images/map-marker.png',
				map: map
			  });
                
			}
                
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<!-- StyleSwitch JS
		========================================================= -->		
        <script th:src="@{/static/js/styleswitch.js}"></script>
        
        <!-- Waypoint Js
		========================================================= -->	
        <script th:src="@{/static/js/waypoints.min.js}"></script>
        
        <!-- Main js file contents all jQuery plugins activation
		========================================================= -->		
        <script th:src="@{/static/js/main.js}"></script>
        
    </body>
</html>