<html  xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>简历</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon
        ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">

        <!-- Google Fonts
        ============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

        <!-- All css files are included here
        ============================================ -->
        <!-- Bootstrap CSS
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

        <!-- This core.css file contents all plugins css file
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/core.css}">

        <!-- Theme shortcodes/elements style
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/shortcode/shortcodes.css}">

		<!-- Color Swithcer CSS
		============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/plugins/color-switcher.css}">

        <!--  Theme main style
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/style.css}">

		<!-- Color CSS
		============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/plugins/color.css}">

        <!-- Responsive CSS
        ============================================ -->
        <link rel="stylesheet" th:href="@{/static/css/responsive.css}">

        <!-- Modernizr JS -->
        <script th:src="@{/static/js/vendor/modernizr-2.8.3.min.js}"></script>
        <style>
            .scroll{height:200px;overflow:auto;overflow-x:hidden;}
        </style>
    </head>
    <body>
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header id="sticky-header" class="header-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <div class="logo"><a th:href="@{/}"><img th:src="@{/static/images/logo/logo.png}" alt="JobHelp"></a>
                                </div>
                            </div>
                            <div class="col-md-9 hidden-sm hidden-xs">
                                <div class="pull-right">
                                    <nav id="primary-menu">
                                        <ul class="main-menu text-right">
                                            <li><a th:href="@{/}">主页</a>
                                            </li>
                                            <li><a th:href="@{/alljobs}">工作栏</a>
                                                <ul class="sub-menu">
                                                </ul>
                                            </li>
                                            <li th:if="${session.user !=null}">
                                                <a th:href="@{/resume(userId=${session.user.userId})}" target="_blank">简历</a>
                                            </li>
                                            <li th:if="${session.user ==null}">
                                                <a th:href="@{/resume}" target="_blank">简历</a>
                                            </li>
                                            <li><a th:href="@{/register}">注册新账号</a></li>
                                            <li><a th:href="@{/blog}">博客</a>
                                                <!--<ul class="dropdown">
                                                    <li><a th:href="@{/blogdetails}">博客详情</a></li>
                                                </ul>-->
                                            </li>
                                            <li><a th:href="@{/contact}">联系我们</a></li>
                                            <!--/*@thymesVar id="user" type="com.entity.User"*/-->
                                            <div class="login-btn pt-36" th:if="${session.user} == null">
                                                <a class="modal-view button" data-toggle="modal"
                                                   data-target="#productModal">登录</a>
                                            </div>
                                            <div class="login-btn pt-36" th:if="${session.user != null}">
                                                <a th:href="@{/infor}">欢迎：<span th:text="${session.user.userName}"></span></a>
                                            </div>
                                            </li>
                                            <li th:if="${msg != null}">
                                                <font color="red"><span th:text="${msg}"></span></font>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu Area start -->
                    <div class="mobile-menu-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="mobile-menu">
                                        <nav id="dropdown">
                                            <ul>
                                                <li><a th:href="@{/}">主页</a>
                                                </li>
                                                <li><a th:href="@{/alljobs}">工作栏</a>
                                                    <ul class="sub-menu">
                                                    </ul>
                                                </li>
                                                <li th:if="${session.user !=null}">
                                                    <a th:href="@{/resume(userId=${session.user.userId})}" target="_blank">简历</a>
                                                </li>
                                                <li th:if="${session.user ==null}">
                                                    <a th:href="@{/resume}" target="_blank">简历</a>
                                                </li>
                                                <li><a th:href="@{/register}">注册新账号</a></li>
                                                <li><a th:href="@{/blog}">博客</a>
                                                    <!--<ul class="dropdown">
                                                        <li><a th:href="@{/blogdetails}">博客详情</a></li>
                                                    </ul>-->
                                                </li>
                                                <li><a th:href="@{/contact}">联系我们</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu Area end -->
                </header>
                <!-- End of Header Area -->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h2 class="text-center text-white uppercase mb-17">添加简历</h2>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center m-0">
                                            <li class="text-white uppercase ml-15 mr-15"><a th:href="@{/}">主页</a></li>
                                            <li class="text-white uppercase ml-15 mr-15">简历</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Start of Single Job Post Area-->
                <div class="single-job-post-area pt-70 mb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form th:action="@{/resumeSave}" method="post">
                                    <div class="single-job-content">
                                        <div class="title uppercase pt-50 pb-38"><span class="lg">基本信息</span></div>
                                        <div class="single-job-form">
                                            <div class="single-info mb-14 fix">
                                                <label for="photo" class="uppercase pull-left m-0">照片(点击空白处上传)</label>
                                                <div style="height: 108px; " class="photo-uploader fix pull-left" id="fileupload" th:if="${resume==null}">
                                                    <input type="file" id="photo" name="resumePic"  onchange="showPreview(this)" >
                                                        <img id="portrait" src="" style="display:none; width: 192px; height: 108px;" />
                                                </div>
                                                <div style="height: 108px; " class="photo-uploader fix pull-left"  th:if="${resume!=null}">
                                                    <input type="hidden" name="resumePic" th:value="${resume.resumePic}" >
                                                        <img  th:src="|/pic/${resume.resumePic}|" style=" width: 192px; height: 108px;" />
                                                </div>
                                            </div>
                                            <div class="single-info">
                                                <label for="name" class="uppercase pull-left m-0">姓名</label>
                                                <div class="form-box fix" th:if="${resume ==null}">
                                                    <span th:if="${session.user !=null}">
                                                        <input type="hidden" name="userId" th:value="${session.user.userId}">
                                                    </span>
                                                    <input type="hidden" name="resumeId" th:value="${session.resumes.size()+1}">
                                                    <input type="text" id="name" name="resumeName" placeholder="请输入您的姓名">
                                                </div>
                                                <div class="form-box fix" th:if="${resume!=null}">
                                                    <input type="hidden" name="resumeId" th:value="${resume.resumeId}">
                                                    <input type="hidden" name="userId" th:value="${resume.userId}">
                                                    <input type="text" name="resumeName" th:value="${resume.resumeName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title uppercase mt-45 mb-38"><span class="medium">联系信息</span></div>
                                        <div class="single-job-form">
                                            <div class="single-info mb-14">
                                                <label for="address" class="uppercase pull-left m-0">地址</label>
                                                <div class="form-box fix" th:if="${resume ==null}">
                                                    <input type="text" id="address" name="resumeAddress" placeholder="请输入您的现居地址">
                                                </div>
                                                <div class="form-box fix" th:if="${resume!=null}">
                                                    <input type="text" name="resumeAddress" th:value="${resume.resumeAddress}">
                                                </div>
                                            </div>
                                            <div class="single-info mb-14">
                                                <label for="phone" class="uppercase pull-left m-0">电话</label>
                                                <div class="form-box fix" th:if="${resume==null}">
                                                    <input type="text" id="phone" name="resumePhone" placeholder="请输入您的电话号码">
                                                </div>
                                                <div class="form-box fix" th:if="${resume!=null}">
                                                    <input type="text"  name="resumePhone" th:value="${resume.resumePhone}">
                                                </div>
                                            </div>
                                            <div class="single-info mb-14">
                                                <label for="email" class="uppercase pull-left m-0">邮箱</label>
                                                <div class="form-box fix" th:if="${resume==null}">
                                                    <input type="email" id="email" name="resumeEmail" placeholder="请输入最近能联系的有效邮箱">
                                                </div>
                                                <div class="form-box fix" th:if="${resume!=null}">
                                                    <input type="email" name="resumeEmail" th:value="${resume.resumeEmail}">
                                                </div>
                                            </div>
                                            <div class="single-info mb-14">
                                                <label for="website" class="uppercase pull-left m-0">社交主页</label>
                                                <div class="form-box fix" th:if="${resume==null}">
                                                    <input type="text" id="website" name="resumePage" placeholder="输入您的社交主页如GitHub等">
                                                </div>
                                                <div class="form-box fix" th:if="${resume !=null}">
                                                    <input type="text" name="resumePage" th:value="${resume.resumePage}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title uppercase mt-45 mb-38"><span class="lg">自述</span></div>
                                        <div class="single-job-form">
                                            <div class="single-info mb-14 fix">
                                                <label class="uppercase pull-left m-0">自我描述</label>
                                                <div class="text-style fix pt-5 pb-5 pl-15 fix">
                                                    <span class="mr-15"><i class="zmdi zmdi-format-bold"></i></span>
                                                    <span class="mr-15"><i class="zmdi zmdi-format-italic"></i></span>
                                                    <span class="mr-15"><i class="zmdi zmdi-format-underlined"></i></span>
                                                    <span class="mr-15"><i class="zmdi zmdi-format-list-numbered"></i></span>
                                                    <span class="mr-15"><i class="zmdi zmdi-format-line-spacing"></i></span>
                                                </div>
                                                <div class="desc fix" th:if="${resume==null}">
                                                    <textarea name="resumeDescribe" class="fix textarea scroll" cols="30" rows="10" placeholder="请输入您的自我描述"></textarea>
                                                </div>
                                                <div class="desc fix" th:if="${resume !=null}">
                                                    <textarea name="resumeDescribe" class="fix textarea scroll" cols="30" rows="10" th:text="${resume.resumeDescribe}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title uppercase mt-45 mb-38"><span class="lg">教育经历</span></div>
                                        <div class="single-job-form">
                                            <div class="single-info mb-14">
                                                <label for="school_name" class="uppercase pull-left m-0">学校名字</label>
                                                <div class="form-box fix" th:if="${resume==null}">
                                                    <input type="text" id="school_name" name="resumeSchool" placeholder="请输入你的毕业学校名字">
                                                </div>
                                                <div class="form-box fix" th:if="${resume!=null}">
                                                    <input type="text"  name="resumeSchool" th:value="${resume.resumeSchool}">
                                                </div>
                                            </div>
                                            <div class="single-info mb-14">
                                                <label for="school_name" class="uppercase pull-left m-0">学历</label>
                                                <div class="form-box fix" th:if="${resume==null}">
                                                    <select name="resumeDegree" class="select">
                                                        <option value="选择学历">选择学历</option>
                                                        <option value="专科学历">专科</option>
                                                        <option value="本科学历">本科</option>
                                                        <option value="硕士研究生">硕士</option>
                                                        <option value="博士研究生">博士</option>
                                                    </select>
                                                </div>
                                                <div class="form-box fix" th:if="${resume!=null}">
                                                    <select name="resumeDegree" class="select">
                                                        <option th:text="${resume.resumeDegree}"></option>
                                                        <option value="专科学历">专科</option>
                                                        <option value="本科学历">本科</option>
                                                        <option value="硕士研究生">硕士</option>
                                                        <option value="博士研究生">博士</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="single-info mb-14 fix">
                                                <label class="uppercase pull-left m-0">荣誉奖项</label>
                                                <div class="desc fix" th:if="${resume == null}">
                                                    <textarea name="resumeHonour" class="fix small textarea scroll" cols="30" rows="10" placeholder="请输入获得的荣誉奖项、学校工作经历等"></textarea>
                                                </div>
                                                <div class="desc fix" th:if="${resume != null}">
                                                    <textarea name="resumeHonour" class="fix small textarea scroll" cols="30" rows="10" th:text="${resume.resumeHonour}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title uppercase mt-45 mb-38"><span class="lg">项目经历</span></div>
                                        <div class="single-job-form">
                                            <div class="single-info pb-14">
                                                <label for="projectName" class="uppercase pull-left m-0">项目名称</label>
                                                <div class="form-box fix" th:if="${resume ==null}">
                                                    <input type="text" id="projectName" name="projectName" placeholder="输入标题">
                                                </div>
                                                <div class="form-box fix" th:if="${resume !=null}">
                                                    <input type="text"  name="projectName" th:value="${resume.projectName}">
                                                </div>
                                            </div>
                                            <div class="single-info mb-14">
                                                <label for="projectTime" class="uppercase pull-left m-0">项目时长（天）</label>
                                                <div class="form-box fix" th:if="${resume ==null}">
                                                    <input type="text" id="projectTime" name="projectTime" placeholder="输入时长">
                                                </div>
                                                <div class="form-box fix" th:if="${resume !=null}">
                                                    <input type="text"  name="projectTime" th:value="${resume.projectTime}">
                                                </div>
                                            </div>
                                            <div class="single-info mb-14 fix">
                                                <label class="uppercase pull-left m-0">项目描述 </label>
                                                <div class="desc fix" th:if="${resume ==null}">
                                                    <textarea name="projectDescribe" class="fix small textarea scroll" cols="30" rows="10" placeholder="请输入项目的描以及你在项目中的职责"></textarea>
                                                </div>
                                                <div class="desc fix" th:if="${resume !=null}">
                                                    <textarea name="projectDescribe" class="fix small textarea scroll" cols="30" rows="10" th:text="${resume.projectDescribe}"></textarea>
                                                </div>
                                            </div>
                                            <div class="ml-160 mt-42">
                                                <input type="submit" class="button button-medium-box"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Single Job Post Area-->
                <!--Start of Social Link Area-->
                <div class="social-link-area ptb-40 dark-blue-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 fix col-xs-12 col-sm-6">
                                <div class="footer-logo pull-left">
                                    <a th:href="@{/}" class="block"><img th:src="@{/static/images/logo/footer-logo.png}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6 fix col-xs-12 col-sm-6">
                                <div class="social-links pull-right">
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-rss"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                    <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Social Link Area-->
                <!--Start of Footer Widget-area-->
                <div class="footer-widget-area black-bg pt-120 pb-110">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-22">关于</h3>
                                    <p class="text-white pr-10">这是一个热衷于给没有工作的人提供帮助的网
                                        站，在这里有许多合适的工作岗位等着他们。我们由衷的希望所有人能得到帮助。</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-26">保持联系</h3>
                                    <span class="text-white mb-9"><i class="fa fa-phone"></i>+88 018 785 4589</span>
                                    <span class="text-white mb-9"><i class="fa fa-envelope"></i>devitems@email.com</span>
                                    <span class="text-white mb-9"><i class="fa fa-globe"></i>www.slane.me</span>
                                    <span class="text-white mb-9"><i
                                            class="fa fa-map-marker"></i>南昌,世纪星城, 5楼</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-21">相关链接</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">关于</a></li>
                                        <li><a href="#">支持</a></li>
                                        <li><a href="#">加盟</a></li>
                                        <li><a href="#">条款 &amp; 条件</a></li>
                                        <li><a href="#">联系我们</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-sm">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-21">工作趋势</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">设计师</a></li>
                                        <li><a href="#">开发人员</a></li>
                                        <li><a href="#">iOS 开发</a></li>
                                        <li><a href="#">Android 开发</a></li>
                                        <li><a href="#">测试人员</a></li>
                                        <li><a href="#">运维</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Footer Widget-area-->
                <!-- Start of Footer area -->
                <footer class="footer-area blue-bg text-center ptb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="footer-text">
                                    <span class="text-white block">Copyright &copy; 2019.公司名称保留所有权利.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer area -->
            </div>
            <!--End of Bg White-->
        </div>
        <!--End of Main Wrapper Area-->
        <!--Start of Login Form-->
        <div id="quickview-login">
            <!-- Modal -->
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-pop-up-content ptb-60 pl-60 pr-60">
                                <div class="area-title text-center mb-43">
                                    <h2 class="pt-7 pb-7 pl-40 pr-40">登录</h2>
                                </div>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-box">
                                        <input type="text" name="userName" placeholder="用户名" class="mb-14">
                                        <input type="password" name="userPassword" placeholder="密码">
                                    </div>
                                    <div class="fix ptb-30">
                                        <span class="remember pull-left"><input class="p-0 pull-left" type="checkbox">Remember Me</span>
                                        <span class="pull-right"><a href="#">忘记密码?</a></span>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="text-uppercase">登录</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Login Form-->
        <!-- jquery latest version
		========================================================= -->
        <script th:src="@{/static/js/vendor/jquery-1.12.4.min.js}"></script>

        <!-- Bootstrap framework js
		========================================================= -->
        <script th:src="@{/static/js/bootstrap.min.js}"></script>

        <!-- Owl Carousel js
		========================================================= -->
        <script th:src="@{/static/js/owl.carousel.min.js}"></script>

        <!-- nivo slider js
		========================================================= -->
		<script th:src="@{/static/lib/nivo-slider/js/jquery.nivo.slider.js}" type="text/javascript"></script>
		<script th:src="@{/static/lib/nivo-slider/home.js}" type="text/javascript"></script>

        <!-- Js plugins included in this file
		========================================================= -->
        <script th:src="@{/static/js/plugins.js}"></script>

		<!-- StyleSwitch JS
		========================================================= -->
        <script th:src="@{/static/js/styleswitch.js}"></script>
        <!-- Waypoint Js
		========================================================= -->
        <script th:src="@{/static/js/waypoints.min.js}"></script>

        <!-- Main js file contents all jQuery plugins activation
		========================================================= -->
        <script th:src="@{/static/js/main.js}"></script>

        <!--show picture-->
        <script type="text/javascript">
            function showPreview(source) {
                var file = source.files[0];
                if(window.FileReader) {
                    var fr = new FileReader();
                    console.log(fr);
                    var portrait = document.getElementById('portrait');
                    fr.onloadend = function(e) {
                        portrait.src = e.target.result;
                    };
                    fr.readAsDataURL(file);
                    portrait.style.display = 'block';
                }
            }
        </script>

    </body>
</html>